/* Drawer  */
.drawer {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: right 0.5s ease-in-out;
  z-index: 100;
  @apply sm:w-[40%] w-[60%]
}

.open {
  right: 0;
}
